/*
 * Set website details.
 */
body {
}
a {
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.text-important {
  color: #337ab7;
}
/**
 * Event options
 */
.events-results-wrapper {
  padding: 20px 20px 20px 20px;
  text-align: center;
}
.events-btn {
  width: 150px;
  display: inline-block;
  margin-top: 5px;
}
.events-btn-wrapper {
  text-align: center;
  margin-bottom: 20px;
}
.events-panel {
  border-style: none;
  box-shadow: none;
  border: none !important;
}
@media (max-width: 556px) {
  .events-results-wrapper {
    margin: 0px 0px 10px 0px;
  }
}
/**
 * Table options for results.
 */
.table-header {
  text-align: center;
  font-size: 26px;
  padding-top: 19px;
  padding-bottom: 8px;
}
.table-label {
  font-size: 18px;
}
.table-info {
  text-align: center;
  padding-top: 4px;
}
.well {
  padding: 20px;
  overflow: hidden;
}
table {
  min-width: 360px;
  overflow: hidden;
}
.panel-center {
  text-align: center;
}
td {
  padding: 5px;
  text-align: center;
  border: 1px solid #E7E7E7;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #E7E7E7;
}
@media (max-width: 500px) {
  td {
    font-size: 12px;
    padding: 1px;
  }
  .content-area {
    padding: 0px 5px;
  }
}
.table-overflow {
  overflow: auto;
  max-width: 100%;
  margin: 0px;
  padding: 2px;
}
@media (max-width: 767px) {
  .overflow-hidden {
    display: none;
  }
}